* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #eaeaea;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 16px 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
    color: #4f46e5;
}


.nav {
    display: flex;
    gap: 24px;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

.nav a:hover {
    color: #4f46e5;
}

.btn {
    background-color: #2563eb;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
}

.btn:hover {
    background-color: #1d4ed8;
}

@media (max-width: 992px) {
    .nav {
        gap: 16px;
    }

    .nav a {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 16px;
    }

    .nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }

    .action {
        width: 100%;
        text-align: center;
    }

    .btn {
        display: inline-block;
        width: 100%;
    }
}