*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 10px -30px);
}
header{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    background: linear-gradient(90deg, rgb(13, 110, 253), rgb(11, 94, 215));
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}
header input{
    padding: 8px 16px;
    outline: none;
    border-radius: 20px;
    opacity: 0.3;
    width: 420px;
    border-style: none;
}
header input::placeholder{
    transition: all 0.3s ease-in;
    color: rgb(255, 5, 5);
}
header input:hover::placeholder{
    transform: translateX(20px);
}
nav{
    display: flex;
    gap: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    transition: all 0.25s linear; 
}
nav a:hover{
    background-color: antiquewhite;
    padding: 5px 10px;
    border-radius: 10px;
    color: blueviolet;
}
.Menu{
    display: none;
}
.Menu img{
    object-fit: cover;
}
main{
    display: flex;
    flex-direction: column;
    background-color: #f4f7fc;
    padding: 32px;
    gap: 20px;
}
.section--firstcontent{
    width: 100%;
    display: flex;
    background-color: white;
    height: fit-content;
    flex-wrap: wrap ;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.4);
}
.contenter{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.div--Content2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.Process{
    background-color: #e9ecef;
    height: 10px;
    width: 180px;
    border-radius: 5px;
    transition: all 0.2s linear;
    overflow: hidden;
}
.Processbar{
    height: 10px;
    width: 110px;
    background-color: blue;
}
.section--secondContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    margin: auto;
}
.section--secondContent h2{
    color: #0d6efd;
    font-size: 30px;
}
.content{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
   margin: auto;
}
.div--card{
    transition: all 0.2s linear;
    width: 400px;
    height: 370px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    box-shadow: 2px 5px 10px rgb(9, 9, 9);
}
.div--card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.div--content{
    padding: 10px 30px;
}
.div--content a{
    display: block;
    text-decoration: none;
    color: white;
    background-color: #0d6efd;
    padding: 12px;
    margin-top: 10px;
    text-align: center;
    border-radius: 8px;
}
.another{
    margin: auto;
    width: 100%;

}
.another h2{
    margin-bottom: 20px;
}
.div--something{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
.div-Box{
    transition: all 0.25s linear;
    overflow: hidden;
    width: calc(50% - 10px );
    background-color: white;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.div-Box img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.contentText{
    margin-top: 20px;
    padding: 10px 30px;
}
.contentText a{
    display: block;
    text-decoration: none;
    background-color: #0d6efd;
    padding: 15px 0px;
    text-align: center;
    color: white;
    margin: 10px 0;
    border-radius: 10px;
}
.another h2{
    color: #0d6efd;
    font-size: 30px;
}
.div--content p{
    opacity: 0.6;
}
.div-Box p{
    opacity: 0.6;
}
.div--card:hover{
    transform: translateY(-10px);
}
.div-Box:hover{
    transform: translateY(-10px);
}
@media screen and (max-width:768px) {
    header nav,
    header input{
        display: none;
    }
    .Menu{
        display: block;
    }
    .contenter{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .div--card{
        width: 100%;
    }
    .div-Box{
        width: 100%;
    }
}